
# üîó Python Basics: Tuples
Author: Marlene Marchena

A **tuple** is a data structure in Python that lets you store multiple values in a single variable.

üëâ Key facts:
- Tuples are written with parentheses `()`  
- They can hold values of different types  
- **Tuples are immutable** ‚Üí once created, their values cannot be changed


## üõ†Ô∏è Creating Tuples

You can create tuples with numbers, strings, booleans, and more.  
Tuples can mix different data types.

In [ ]:
t0 = (1, 2, 3)
t1 = (0, 1, 2, True, "Paul")
t2 = (0.8, 10, False, "Eric", True)

print("t0 =", t0)
print("t1 =", t1)
print("t2 =", t2)


## üì¶ Nested Tuples

A tuple can contain other tuples inside it.

In [ ]:
t3 = ("Roger", t1, (4, 5), True)
print("t3 =", t3)


## üîç Accessing Elements

You can use **indexing and slicing** with tuples (just like with strings and lists).

In [ ]:
t2 = (0.8, 10, False, "Eric", True)

print("Element at index 3:", t2[3])
print("Elements from index 2 onwards:", t2[2:])
print("Last element:", t2[-1])
print("Second to last element:", t2[-2])
print("First three elements:", t2[:3])


‚ö†Ô∏è Tuples are **immutable** ‚Üí you cannot change their values once created.

```python
t2[3] = "Lucia"   # ‚ùå This will cause an error!
```


## ‚ûï Tuple Operations

In [ ]:
t0 = (1, 2, 3)
t1 = (0, 1, 2, True, "Paul")

# Unpacking a tuple
x, y, z = t0
print("x =", x)
print("y =", y)
print("z =", z)

# Concatenation
t4 = t0 + t1
print("t4 =", t4)

# Tuple methods
print("Count of 2 in t4:", t4.count(2))
print("Index of 'Paul' in t4:", t4.index("Paul"))


# ‚úèÔ∏è Exercises: Tuples


### Exercise 1  
Create a tuple `colors` with the values `"red"`, `"green"`, `"blue"`.  
- Print the first color.  
- Print the last color.

In [ ]:
# Your code here
colors = ("red", "green", "blue")
print("First color:", colors[0])
print("Last color:", colors[-1])


### Exercise 2  
Create a tuple `numbers = (10, 20, 30, 40, 50)`.  
- Print the slice `(20, 30, 40)` using indexes.

In [ ]:
# Your code here
numbers = (10, 20, 30, 40, 50)
print(numbers[1:4])


### Exercise 3  
Unpack the tuple `point = (3, 4)` into variables `x` and `y`.  
Print:  
```
x = 3
y = 4
```

In [ ]:
# Your code here
point = (3, 4)
x, y = point
print("x =", x)
print("y =", y)


### Exercise 4  
Concatenate the tuples `(1, 2)` and `(3, 4, 5)` into one tuple.  
Print the result.

In [ ]:
# Your code here
t1 = (1, 2)
t2 = (3, 4, 5)
t3 = t1 + t2
print(t3)